.mean-rating-container {
    display: flex;
    align-items: center;
    width: 30vw;
}

#emoji-smile-icon {
    color: greenyellow;
    font-size: 2rem;
    display: block;
    margin-right: 1rem;
}

.signin-alert {
    display: flex;
    justify-content: center;
}

.detail-description img{
    object-fit: contain;
    max-width: 100%;
}