#price-filter-button {
    width: 100%;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


#price-filter-button-label {
    color: black;
    margin: 0;
    padding: 0;
}


.price-filter-icon {
    width: 20px;
    height: 20px;
}