.category-menu {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.category-nav-icon {
    max-width: 100%;
    height: auto;
    display: block;
}

.parent-list {
    padding: 0;
    margin: 0;
    display: block;
}

.parent-item {
    width: 100%;
    min-height: 8vh;
    /* position: relative; */
    /* border-bottom: 1px solid #eee; */
    display: block;
}

.parent-item-head {
    width: 100%;
    /* min-height: 8vh; */
    position: relative;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.parent-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

.parent-link:hover {
    background-color: #f0f0f0;
}

.child-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.child-item {
    text-decoration: none;
    font-size: small;
}


.flip-container {
    perspective: 1000px;
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flipper {
    position: relative;
    width: 50%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flipper:hover {
    background-color: #d0cbcb;
}


.flip-container.flipped .flipper {
    transform: rotateX(180deg);
}