{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" nonce="{{ CSP_NONCE }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" nonce="{{ CSP_NONCE }}">
    <link href="{% static 'e_commerce/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'e_commerce/css/category.css' %}" rel="stylesheet">
    <link href="{% static 'e_commerce/css/price_filter.css' %}" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mb-4">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'e_commerce:product_list' %}">E-commerce Store</a>
            <div class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'e_commerce:cart_detail' %}">
                                Cart 
                                {% if cart|length > 0 %}
                                    <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button 
                                    class="btn btn-light dropdown-toggle" 
                                    type="button" 
                                    id="dropdownMenuButton1" 
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false"
                                    >
                                    <div class="user-avatar">
                                        {% if user.avatar %}
                                            <img src="{{ user.avatar }}" alt="{{ user.get_initial }}" class="avatar-img">
                                        {% else %}
                                            <span 
                                                class="avatar-initials"
                                                id="avatar-initials-main"
                                                data-color="{{ user.get_avatar_color }}"
                                                >
                                                {{ user.get_initial }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="{% url 'e_commerce:pwd_change' %}">Đổi mật khẩu</a></li>
                                    <li>
                                        <form method="post" action="{% url 'e_commerce:logout' %}" class="logout-form">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item">Đăng xuất</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>    
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'e_commerce:login' %}?next={{ request.path }}">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'e_commerce:register' %}">
                                Đăng ký
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" nonce="{{ CSP_NONCE }}"></script>
    <script src="{% static 'e_commerce/js/main.js' %}"></script>
    <script src="{% static 'e_commerce/js/input_filter.js' %}"></script>
</body>
</html>
