.category-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

.category-menu-header {
    font-size: medium;
    padding: 10px;
    margin: 0px;
    border-bottom: 3px solid #f8f9fa;
}

.category-nav-icon {
    max-width: 100%;
    height: auto;
    display: block;
}

.parent-list {
    padding: 0;
    margin: 0;
    display: block;
}

.parent-item {
    width: 100%;
    min-height: 8vh;
    display: block;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

.parent-item-head {
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    /* border-bottom: 1px solid #eee; */
    display: flex;
    align-items: center;
}

.parent-link {
    display: block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

.parent-link:hover {
    background-color: #f0f0f0;
}

.child-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.child-item {
    text-decoration: none;
    font-size: small;
}

.child-link {
    display: block;
    padding: 5px 0px 5px 30px; /* Top, right, bottom, left */
    text-decoration: none;
    color: #333;
}

.child-link:hover {
    color: #a599fc;
}

.flip-container {
    perspective: 1000px;
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flipper {
    position: relative;
    width: 50%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flipper:hover {
    background-color: #d0cbcb;
}


.flip-container.flipped .flipper {
    transform: rotateX(180deg);
}